<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--目标对象-->
    <bean id="target" class="com.eric.aop.Target"/>

    <!--切面对象-->
    <bean id="myAspect" class="com.eric.aop.MyAspect"/>

    <!--配置织入：告诉spring哪些方法需要哪些增强-->
    <aop:config>
        <!--声明切面-->
        <aop:aspect ref="myAspect">
            <!--声明切点+通知-->
            <aop:before method="before" pointcut="execution(public String com.eric.aop.Target.save())"/>
            <aop:after method="after" pointcut="execution(public String com.eric.aop.Target.save())"/>
        </aop:aspect>
    </aop:config>
</beans>
